#index-banner {
  min-height: 80vh;
}
.card-image img {
  height: 50em;
  width: 15em;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.material-icons {
  display: inline-flex !important;
  vertical-align: bottom;
}

i.material-icons.tiny {
  color: red;
  vertical-align: middle !important;
}

.btn-floating .material-icons {
  display: block !important;
}

.card-action {
  display: flex;
  justify-content: space-between;
}
